@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@section Scripts
{
    <script type="text/javascript">
        function setTimers() {
            var timeNow = Date.now();
            var deadlines = document.getElementsByName("deadlineValue");
            deadlines.forEach(d => {
                var dest = d.nextElementSibling;
                var deadline = d.value;
                dest.innerHTML = msToTime(deadline - timeNow);
            });
            setTimeout(setTimers, 500);
        }

        p2 = (num) => num.toString().padStart(2,"0");

        function msToTime(ms) {
            let second = 1000;
            let minute = second * 60;
            let hour = minute * 60
            let day = hour * 24;
            let week = day * 7;

            let weeks = Math.floor(ms / week);
            ms -= weeks * week;
            let days = Math.floor(ms / day);
            ms -= days * day;
            let hours = Math.floor(ms / hour);
            ms -= hours * hour;
            let minutes = Math.floor(ms / minute);
            ms -= minutes * minute;
            let seconds = Math.floor(ms / second);
            ms -= seconds * second;

            if (weeks >= 2)
            {
                return `${weeks}w ${days}d`;
            }
            if (weeks == 1)
            {
                return `${weeks}w ${days}d ${p2(hours)}h ${p2(minutes)}m`;
            }

            return `${weeks > 0 ? weeks + "w " : ""}`
                 + `${days > 0 ? days + "d " : ""}`
                 + `${p2(hours)}h ${p2(minutes)}m ${p2(seconds)}s`;
        }
        window.onload = setTimers;
    </script>
}

@if (Model.MainViewComponent is not null)
{
    @await Component.InvokeAsync(
        Model.MainViewComponent,
        Model.MainViewComponentParameters)
}
else
{
    <div class="text-center">
        <h1 class="display-4 pb-4">@(Model.WelcomeTitle)</h1>
        @(Model.WelcomeSubtitle)<br />
        The next tipping submission deadline is:<br />
        <input name="deadlineValue" type="hidden" value="@(Model.NextEventDeadline.ToUnixTimeSeconds()*1000)"/>
        <span name="deadlineDestination"></span>
    </div>

    <p class="pt-5">
        Push notification reminders for tip deadlines are under development!
    </p>
}