{
  "ConnectionStrings": {
    "SqlServer": "<SqlServerConnectionString>",
    "Postgres" : "<PostgresConnectionString>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DatabaseEngine": "PostgreSQL",
  "AllowedHosts": "*",
  "http_ports": "80",
  "Vapid": {
    "subject": "<vapidMailKeySubject>",
    "publicKey": "<vapidPublicKey>",
    "privateKey": "<vapidPrivateKey>"
  },
  "SeedAdmins": [
    {
      "email": "",
      "password": ""
    },
    {
      "email": "",
      "password": ""
    }
  ]
}