<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F1Tipping</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap_overrides.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/F1Tipping.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">F1Tipping</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <partial name="_PlayerNavigation" />
                        <partial name="_AdminNavigation" />
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                @if (Context.User.Identity?.IsAuthenticated ?? false)
                {
                    <vc:season-selector></vc:season-selector>
                    <button class="notification-toggler" data-sub-state="unknown" type="button" onclick="ProgressNotificationState()">
                        <span class="notification-toggler-icon">
                            <svg version="1.1" viewBox="0 0 500 500" width="100%" height="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g class="hollowBell" mask="url(#subIconCutout)">
                                    <path class="rotatable" stroke="currentColor" fill="currentColor"
                                        d="M381.7,225.9c0-97.6-52.5-130.8-101.6-138.2c0-0.5,0.1-1,0.1-1.6
                                            c0-12.3-10.9-22.1-24.2-22.1c-13.3,0-23.8,9.8-23.8,22.1c0,0.6,0,1.1,0.1,1.6
                                            c-49.2,7.5-102,40.8-102,138.4c0,113.8-28.3,126-66.3,158h384C410.2,352,381.7,339.7,381.7,225.9z
                                            M107.2,368 c8.6-9,16.4-18.4,22.7-31.8c12-25.3,17.4-59.2,17.4-110.2c0-46.4,12.5-80.4,37.1-101.2
                                            c22.9-19.3,51.7-23.3,71.8-23.3c20.1,0,48.9,4,71.6,23.3c24.5,20.7,37,54.5,37,100.9
                                            c0,83.8,14.9,117.3,40.3,142.3H107.2zM256.2,448c26.8,0,48.8-19.9,51.7-43H204.5
                                            C207.3,428.1,229.4,448,256.2,448z" />
                                </g>
                                <g class="filledBell" mask="url(#subIconCutout)">
                                    <path class="rotatable" stroke="currentColor" fill="currentColor"
                                        d="M381.7,225.9c0-97.6-52.5-130.8-101.6-138.2c0-0.5,0.1-1,0.1-1.6c0-12.3-10.9-22.1-24.2-22.1c-13.3,
                                            0-23.8,9.8-23.8,22.1 c0,0.6,0,1.1,0.1,1.6c-49.2,7.5-102,40.8-102,138.4c0,113.8-28.3,126-66.3,158
                                            h384C410.2,352,381.7,339.7,381.7,225.9z M256.2,448c26.8,0,48.8-19.9,51.7-43H204.5C207.3,428.1,
                                            229.4,448,256.2,448z" />
                                </g>
                                <mask id="subIconCutout">
                                    <rect x="0" y="0" width="100%" height="100%" fill="white" />
                                    <circle class="maskingElement" cx="400" cy="250" r="175" fill="black" />
                                </mask>
                                <svg viewBox="0 0 200 200" x="225" y="75" width="350" height="350">
                                    <g class="qMark">
                                        <svg x="67" y="25" width="75" height="150" viewBox="0 0 33.496 72.071">
                                            <path fill="currentColor"
                                                d="M 17.822 51.758 L 9.961 51.758 Q 9.521 50.488 9.18 48.462 Q 8.838 46.436 8.838 44.434
                                                    Q 8.838 41.309 10.083 38.794 Q 11.328 36.279 13.184 34.082 Q 15.039 31.885 17.236 29.859
                                                    Q 19.434 27.832 21.289 25.757 Q 23.145 23.682 24.39 21.411 Q 25.635 19.141 25.635 16.406
                                                    Q 25.635 14.063 24.731 12.256 Q 23.828 10.449 22.266 9.229 Q 20.703 8.008 18.652 7.398
                                                    Q 16.602 6.787 14.307 6.787 Q 6.055 6.787 0 13.281 L 0 4.688 Q 7.471 0 15.479 0 Q 19.189 0 22.461 0.977
                                                    Q 25.732 1.953 28.198 3.882 Q 30.664 5.811 32.08 8.692 Q 33.496 11.572 33.496 15.381
                                                    Q 33.496 18.994 32.227 21.826 Q 30.957 24.658 29.028 27.027 Q 27.1 29.395 24.854 31.446
                                                    Q 22.607 33.496 20.679 35.523 Q 18.75 37.549 17.48 39.746 Q 16.211 41.944 16.211 44.58
                                                    Q 16.211 46.826 16.748 48.657 Q 17.285 50.488 17.822 51.758 Z M 14.355 72.071 Q 12.207 72.071 10.547 70.508
                                                    Q 8.936 68.946 8.936 66.699 Q 8.936 64.404 10.547 62.891 Q 12.158 61.279 14.355 61.279
                                                    Q 16.553 61.279 18.164 62.891 Q 19.775 64.404 19.775 66.699 Q 19.775 68.946 18.164 70.508
                                                    Q 16.504 72.071 14.355 72.071 Z" />
                                        </svg>
                                    </g>
                                    <g class="dBang">
                                        <svg x="0" y="0" viewBox="-100 -100 200 200" width="200" height="200">
                                            <path fill="currentColor" d="M0,-12m-38,-58h+19l-2,+103h-15z M0,-12m+38,-58h-19l+2,+103h+15z" />
                                            <circle fill="currentColor" cx="-28" cy="64" r="11" />
                                            <circle fill="currentColor" cx="28" cy="64" r="11" />
                                        </svg>
                                    </g>
                                    <g class="tick">
                                        <svg x="10" y="30" width="180" height="180" viewBox="-10 0 1544 2048">
                                            <path fill="currentColor"
                                                d="M147 1149q-23 -23 -38 -41.5t-15 -32.5q0 -15 13.5 -26.5t32.5 -19t40.5 -11t36.5 -3.5q16 0 26.5 7.5
                                                    t24.5 21.5q94 94 170.5 202t141.5 214q125 -346 291 -671t374 -609q20 -28 62.5 -43t95.5 -15q17 0 27 6.5
                                                    t10 18.5t-3 20.5t-14 22.5q-111 147 -215.5 308 t-199.5 339.5t-180 374.5t-156 412q-2 6 -11 10.5t-22 7.5
                                                    t-29 4.5t-32 1.5q-23 0 -42 -4.5t-28 -19.5q-48 -82 -89 -144.5t-83 -116.5t-87.5 -105t-101.5 -109z" />
                                        </svg>
                                    </g>
                                    <g class="cross">
                                        <svg x="10" y="15" width="180" height="180" viewBox="-10 0 1683 2048">
                                            <path fill="currentColor"
                                                d="M541 223l14 31q65 140 129.5 268.5t132.5 255.5q112 -162 230 -317t245 -304q14 -15 25 -23t22 -12l2 23l35 -23
                                                    l-16 39l51 -24l-12 31l33 -5l-31 41l41 -18q-5 11 -9.5 19t-11.5 16q-140 165 -270 338.5t-254 363.5q78 139 165.5 285
                                                    t188.5 309q7 11 13 23.5t14 29.5l-27 -2l6 35l-43 -26l17 51l-37 -17l-2 27l-35 -43l6 35l-22 -25v10q-100 -148 -182.5 -280.5
                                                    t-155.5 -261.5q-109 174 -209.5 360t-196.5 387l-16 29l-14 -16l-25 32v-49l-37 49v-39l-35 25l17 -61l-39 32l6 -37
                                                    l-16 11q3 -11 5 -18.5t7 -16.5q99 -209 217 -418.5t254 -417.5q-33 -60 -72 -135t-79 -156.5t-78.5 -163.5t-69.5 -155
                                                    l-19 -43l29 20l-12 -51l26 17l-6 -39l41 35l-16 -48l27 19v-21l24 31l-4 -27l29 31v-16z" />
                                        </svg>
                                    </g>
                                </svg>
                            </svg>
                        </span>
                    </button>

                    <button type="button" onclick="_triggerDebugNotification()">
                        Debug
                    </button>

                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            F1Tipping - <a asp-area="" asp-page="/Privacy">Privacy</a> - <a asp-area="" asp-page="/Rules">Rules & Scoring</a>
        </div>
    </footer>

    <script>const vapidPublicKey = "@(ViewData["VapidPublicKey"])";</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pushNotifications.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
