@if (Context.User.IsInRole("Player"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Tipping/Index">Tipping</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Tipping/Scoreboard">Scoreboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Tipping/FullScores">Score Breakdown</a>
    </li>
}
