@page
@model F1Tipping.Pages.Admin.Data.IndexModel
@{
    ViewData["Title"] = "Tipping Data";
}

<a asp-page-handler="SeedData" class="btn btn-primary">Seed Data</a>

<a asp-page="Rounds/Index">Rounds</a>
