@page
@model IndexModel
@{
    ViewData["Title"] = "Tipping";
}

@foreach (var e in Model.EventTips)
{
    <div class="row">
        <a asp-page="./Event" asp-route-id="@e.EventId">@e.Name</a>
        @Html.DisplayFor(_ => e.HasTips)
    </div>
}
