.scoreboard {
    text-wrap: nowrap;
    display: flex;

    th.multicol-header {
        text-align: center;
    }
    table {
        width: revert;
    }
    .middle-table-wrapper {
        overflow-x: scroll;
    }

    td.numeric, th.numeric {
        text-align: right;
    }
}

.show-lg {
    display: revert;
}

.show-md {
    display: none;
}

@media (max-width: 767.98px) {
    .scoreboard th {
        font-size: 0.75em;
    }
    .show-lg {
        display: none;
    }
    .show-md {
        display: revert;
    }
}

.scoreboard-wrap:has(input#detailed-view-ctrl:checked) .scoreboard .simple-view
{
    display: none;
}

.scoreboard-wrap:has(input#detailed-view-ctrl:not(:checked)) .scoreboard .detailed-view
{
    display: none;
}