.scoreboard {
    text-wrap: nowrap;
    display: flex;

    th.multicol-header {
        text-align: center;
    }
    table {
        width: revert;
    }
    .middle-table-wrapper {
        overflow-x: scroll;
    }
}

.show-lg {
    display: revert;
}

.show-md {
    display: none;
}

@media (max-width: 767.98px) {
    .scoreboard th {
        font-size: 0.75em;
    }
    .show-lg {
        display: none;
    }
    .show-md {
        display: revert;
    }
}