@using F1Tipping.Pages.Shared.Components
@model SelectList

<div class="form-group">
    <select name="SeasonSelector" class="season-selector form-control" asp-items="@Model"></select>
</div>

<script type="text/javascript" src="/js/components/seasonSelector.js" defer></script>
